<!-- source: https://insomniacookies.com/menu -->

<div class="row">
<h1 class="heading center-align">Our Cookies</h1>
</div>

<div class="row">
<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/choc_chunk.jpg">
      <span class="card-title">Chocolate Chunk</span>
    </div>
    <div class="card-content">
      <p>This tasty favorite is packed with chunks of rich, soft 
      chocolate that melts in your mounth.</p>
    </div>
    <div class="card-action">
     <p> $9.59 the dozen / $0.99 per single cookie.</p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/chocolate_peanut_butter_cup.jpg">
      <span class="card-title "><strong>Chocolate Peanut Butter</strong> </span>
    </div>
    <div class="card-content">
      <p>This colossal treat is Loaded with chunks of Reeses peanut 
      butter cups and baked into a peanut butter cookie.</p>
    </div>
    <div class="card-action">
     <p> $9.59 the dozen / $0.99 per single cookie.</p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/classic_mm.jpg">
      <span class="card-title">Classic with M&M s </span>
    </div>
    <div class="card-content">
      <p>M&Ms baked into our signature dough, this festive 
      treat is a party for your taste buds.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/double_choc_chunk_.jpg">
      <span class="card-title">Double Chocolate Chunk</span>
    </div>
    <div class="card-content">
      <p>This cookie is double the fun with chunks of smooth 
      chocolate inside a moist chocolate cookie.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>
</div>


<div class="row">
<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/double_choc_mint.jpg">
      <span class="card-title">Double Chocolate Mint</span>
    </div>
    <div class="card-content">
      <p>Our delicious chocolate cookie baked with rich chocolate
       chunks and mint chocolate chips.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/oatmeal_raisin.jpg">
      <span class="card-title">Oatmeal Raisin</span>
    </div>
    <div class="card-content">
      <p>A classic cookie flavor, speckled with plump raisins,
       and an extra hint of cinnamon..</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/peanut_butter.jpg">
      <span class="card-title">Peanut Butter Chip</span>
    </div>
    <div class="card-content">
      <p>Creamy peanut butter chips melded into a soft
       peanut butter flavored cookie.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/smores.jpg">
      <span class="card-title">S-mores</span>
    </div>
    <div class="card-content">
      <p>This huge cookie indulgence is packed with chocolate, marshmallows 
      and graham crackers, all baked into a chocolate cookie.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>
</div>


<div class="row">
<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/snickerdoodle.jpg">
      <span class="card-title">Snickerdoodle</span>
    </div>
    <div class="card-content">
      <p>Simple and delectable! Our signature batter topped with a 
      cinnamon and sugar mix.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/sugar.jpg">
      <span class="card-title">Sugar</span>
    </div>
    <div class="card-content">
      <p>A classic sweet and buttery cookie! Need we say more?</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/triple_chocolate.jpg">
      <span class="card-title">Triple Chocolate</span>
    </div>
    <div class="card-content">
      <p>This oversized cookie has a delicious mix of semi-sweet chocolate 
      chunks, milk chocolate chunks, and Hershey-s kisses.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cookies_images/white_chocolate_macadamia.jpg">
      <span class="card-title">White Chocolate Macadamia</span>
    </div>
    <div class="card-content">
      <p>White Chocolate Macadamia cookie is filled with sweet, white chocolate chips, 
      macadamia nuts and just a hint of coconut</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>
</div>