<br>
 <br>
    <div class="hero-contact">
    <div class="hero-text">
    <div class = "shadow_text"><h1 style="font-size:50px">Customer Service </h1></div>
    
    </div>
  </div>
    
  <br> 
  <div class="center">
  <p class="text" >Customer Service Team hours are:<br> Monday - Friday<br> 9am to 6pm PDT<br><br>
  Tel: (345) 675 - 8812 <br><br><br><br><br><br>
    Subcribe to 1829 Bakery via e-mail using the form below:</p>
    </div>
  <br> 
  <br> 
  <br> 





  <div class="center">
  <div class="row">
  <div class="col s12 m6  offset-m3">
<form action="/contact" method="post">
  <input type="text" name="visitor_name" placeholder="Your name" class="inputSuff">
  <input type="text" name="email_address" placeholder="email_address@something.com" class="inputSuff">
  <input type="submit" value="Thank You for Subscribing">
</form>
</div>
</div>
</div>

<br>
<br>
