<br>
 <br>
    <div class="hero-contact">
    <div class="hero-text">
    <div class = "shadow_text"><h1 style="font-size:50px">Customer Service </h1></div>
    
    </div>
  </div>
    
  <br> 
  <h6 >Customer Service Team hours are Monday - Friday, 9am to 6pm PDT<br>
  Tel: (345) 675 - 8812 <br>
    Subcribe to 1829 Bakery via e-mail using the form below:</h6>
  <br> 
  <br> 
  <br> 







<form action="/contact" method="post">
  <input type="text" name="visitor_name" placeholder="Your name" class="inputSuff">
  <input type="text" name="email_address" placeholder="email_address@something.com" class="inputSuff">
  <input type="submit" value="Thank You for Subscribing">
</form>

<br>
<br>
