
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>1829 Bakery</title>
  <link rel="stylesheet" href="/main.css">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>



<div>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo button-collapse" data-activates="mobile-demo" > 1829 Bakery</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > <a href="/cakes">Cakes</a> </li>
        <li > <a href="/cookies">Cookies</a> </li>
        <li > <a href="/muffins">Muffins</a> </li>
        <li > <a href="/about_us">About Us</a> </li>
        <li > <a href="/contact_us">Contact Us</a> </li>
        <li > <a href="/careers">Careers </a> </li>
      </ul>
  </div>
</nav>
</div>

<ul class="sidenav" id="mobile-demo">
<li> <a href="/">1829 Bakery</a> </li>
<li > <a href="/cakes">Cakes</a> </li>
        <li > <a href="/cookies">Cookies</a> </li>
        <li > <a href="/muffins">Muffins</a> </li>
        <li > <a href="/about_us">About Us</a> </li>
        <li > <a href="/contact_us">Contact Us</a> </li>
        <li > <a href="/careers">Careers </a> </li>
</ul>
 



  <%= yield %>


  </div>
  <footer class="page-footer ">
  <div class="container">
    <div class="row ">
    <div class="col l4 s12">
        <h5 class="white-text">Quick Links</h5>
        <ul>
        <li><a class="grey-text text-lighten-3" href="/catalog">Catalog</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact_us">Contact Us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">FAQS</a></li>
          <li><a class="grey-text text-lighten-3" href="/term_of_use">Terms of Use</a></li>
        </ul>
      </div>
      <div class="col l3 s12 offset-l5 f">
        <h5 class="white-text">1829 Bakery</h5>
        <p class="grey-text text-lighten-4">123 Main Street, New York, NY 10001 <br> www.1829Bakery.com </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container ">
    © 2018 Bakery USA
    <a class="grey-text text-lighten-4 right">inc. all rights reserved for 1829 Bakery NYC</a>
    </div>
  </div>
</footer>





  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="/main.js"></script>

  
</body>
</html>