<!--  source: https://www.marthastewart.com/1520248/muffin-recipes -->

<div class="row">
      <h1 class="heading center-align">Our Muffins</h1>
    </div>

    <div class="row">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="images/muffins_images/almond-butter-banana-muffin.jpg">
          <span class="card-title">Gluten Free Banana Almond Butter Muffins</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
         <p> here goes the price </p> 
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="images/muffins_images/apple-bran-muffin.jpg">
          <span class="card-title">Double Apple Bran Muffins</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
         <p> here goes the price </p> 
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="images/muffins_images/camberry_brand_muffin.jpg">
          <span class="card-title">Cranberry Bran Muffins</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
         <p> here goes the price </p> 
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="images/muffins_images/cormeal_raisin_muffin.jpg">
          <span class="card-title">Cornmeal Raisin Muffins</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
         <p> here goes the price </p> 
        </div>
      </div>
    </div>
  </div>
    
 
  <div class="row">
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="images/muffins_images/gluten-free-blackberry-cornmeal-muffins.jpg">
        <span class="card-title">Gluten Free Blackberry Cornmeal Muffins</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
       <p> here goes the price </p> 
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="images/muffins_images/kale-corn-jalapeno.jpg">
        <span class="card-title">Kale Corn Jalapeno Muffins </span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
       <p> here goes the price </p> 
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="images/muffins_images/maple-muffins.jpg">
        <span class="card-title">Maple Muffins with Oat Streusel</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
       <p> here goes the price </p> 
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="images/muffins_images/orange-date-crumble-muffin.jpg">
        <span class="card-title">Orange and Date Crumble Muffins </span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
       <p> here goes the price </p> 
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="images/muffins_images/sweet-potato-chocolate-chunk.jpg">
        <span class="card-title">Sweet Potato Chocolate Chunk </span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
       <p> here goes the price </p> 
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="images/muffins_images/vegan-blueberry-muffin.jpg">
        <span class="card-title">Vegan Blueberry Muffins</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
       <p> here goes the price </p> 
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="images/muffins_images/wild-blueberry-spelt-oat-muffins.jpg">
        <span class="card-title">Wild Blueberry Spelt Oat Muffins</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
       <p> here goes the price </p> 
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="images/muffins_images/zucchini-gruyere-black-papper-muffin.jpg">
        <span class="card-title">Zucchini Gruyere and Black Pepper Muffins</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
       <p> here goes the price </p> 
      </div>
    </div>
  </div>
</div>