
<br>
<br>
   <div class="hero-terms">
 </div>

<br>
<br>
  <div class="col s12 m7 l8 horizontal #ee6e73">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
        <p class="center-align fonttitle "> 1829 Bakery USA, INC.
        WEBSITE TERMS AND CONDITIONS </p> <br>
        <p class="center-align fonttitle"> Last Revised:  March 18, 2015 </p>   
        </div>
      </div>
    </div>
  </div>

 <br>
  <div class="col s12 m7 l8 horizontal">
      <div class="card-content">
      <p> Welcome to the 1829 Bakery USA, Inc. (“1829 Bakery”) website. The following rules and regulations apply to all visitors to or users of the www.parisbaguetteusa.com website.  By accessing or using this website, you agree to be bound by these terms and conditions, which may be modified by us at any time.
      </p>
  </div>
</div>

<br>
<div class="col s12 m7 l8 horizontal">
      <div class="card-content">
      <p class='bold'>1. Products and Pricing     </p>
      <p>Please note that all products, goods, services, features and their pricing and availability may be subject to change at any time without notice at the sole discretion of 1829 Bakery. In addition, the inclusion of any products or services on the website does not imply or warrant that these products, services or features will be available at any time. We make no representations as to the accuracy, correctness or completeness of any information on this website.
      We reserve the right, but are not obligated, to limit sales of our products or services to any person, geographic region or jurisdiction. We also reserve the right to discontinue any product, services or features at any time and may require verification of information prior to the acceptance and/or delivery of any products or services.  We may exercise these rights on a case-by-case-basis.
       Any offer for any product or services made on this website is void where prohibited. </p>
  </div>
</div>
 
<div class="col s12 m7 l8 horizontal">
      <div class="card-content">
      <p class='bold'>2. Methods of Payment</p>
      <p>An order is not binding upon 1829 Bakery until it is accepted.  1829 Bakery must receive payment before it will accept an order, deliver the products or services or allow pick up of the products. While it is our practice to confirm any and all orders by email, the receipt of an order confirmation by email does not constitute our acceptance of an order or our confirmation of an offer to sell any product or service.  If for any reason you do not provide us with the required payment or if you input an incorrect or invalid order online, you will be solely responsible for any costs incurred in fulfilling the order as well as any incidental or consequential damages that may arise.
        Before you can complete the purchase of any goods or services on our website, you must provide us with a valid credit card number and associated payment information.  In addition, by selecting “credit card” as a method of payment, you are authorizing us to use your credit card as a method of payment. If we are unable to procure payment from your credit card issuer, you agree to pay all amounts due upon demand to us. The final charges on your credit card may be different than those stated on the website or in the order confirmation, which may include applicable taxes and delivery fees.
         </p>
  </div>
</div>

<div class="col s12 m7 l8 horizontal">
<div class="card-content">
<p class='bold'> 3. Return Policy</p>
<p>All products and services ordered on this website are perishable and/or specially made to order and are subject to refund in our sole discretion. Please choose and order the products and services carefully. If you have any problems or issues regarding our catered, take out or delivered products or services, please contact us within 24 hours upon your receipt of the products or completion of the service for an exchange, credit or refund. Any such exchange, credit or refund will be determined on a case-by-case basis and at our sole discretion.
   </p>
</div>
</div>

<div class="col s12 m7 l8 horizontal">
<div class="card-content">
<p class='bold'>4. Registration, Accounts and Passwords</p>
<p>You are responsible for the protection and security of any password or username that you may use to access this website. You are responsible for all direct or indirect damages and liable for all activity conducted on this website that can be linked or traced back to your username or password. You are obligated to immediately report a lost or stolen password or username to us.
   </p>
</div>
</div> 

<div class="col s12 m7 l8 horizontal">
<div class="card-content">
<p class='bold'> 5.  Restrictions on Use 
</p>
<p>
This website and all of its materials and content, including and not limited to the 1829 Bakery trademark, software, source code, HTML code, scripts, apps, text, artwork, photographs, images, animations, video and audio (collectively “Materials”) are protected by U.S. copyright and trademark laws and other international laws and treaties.  All Materials on this website are provided by 1829 Bakery as a limited license to inform its current and prospective customers regarding 1829 Bakery’s products, services and features and to allow customers to place order through this website. No right, title or interest is conveyed through the use and display of the Materials on this website.  As such, you may not copy, reproduce, publish, transmit, distribute, perform, display, post, modify, alter, create derivative works from, sell, license or otherwise exploit this website or any of its Materials without prior written permission from 1829 Bakery.  In addition, you may not access or use this website or its Materials for any competitive or commercial purpose. 1829 Bakery may revoke this limited license at any time for any reason.  All rights not expressly granted herein are reserved by 1829 Bakery.
You are not allowed to utilize data mining, robots, web crawlers or any other data-gathering or extraction software on our website. You are not authorized to distribute or commercialize any content on this site, including any collection of product lists, descriptions or prices. You are not allowed to frame or use framing methods to contain any trademark, logo or other proprietary information (which includes images, text, page layout or form) of this website. You may not incorporate meta tags or any other "hidden text" that include our name or trademarks.
You are prohibited from violating or attempting to violate the security of the website, including, without limitation, (a) accessing data not intended for such user or logging onto a server or an account which the user is not authorized to access; (b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization; (c) attempting to interfere with service to any user, host or network with access to the website, including, without limitation, via means of submitting a virus to the website, overloading, flooding, spamming, mail-bombing, crashing or usurping the website’s resources or bandwidth; (d) sending unsolicited email, including promotions and/or advertising of products or services; or (e) forging any TCP/IP packet header or any part of the header information in any email or newsgroup posting.
In addition to any remedies that we may have at law or in equity, if we determine, in our sole discretion, that you have violated or are likely to violate the foregoing prohibitions, we may take any action we deem necessary to cure or prevent the violation, including without limitation, the immediate removal of the related materials from the website. We will fully cooperate with any law enforcement authorities or court order or subpoena requesting or directing us to disclose the identity of anyone posting such materials. 1829 Bakery will aggressively enforce its intellectual property rights to the fullest extent of the law, including seeking of civil remedies and criminal prosecution.
   </p>
</div>
</div> 
 

<!-- source: http://parisbaguette.com/terms-of-use.html -->

 

 


 


 


 


 

 


 


 

 
