<!-- source: https://www.magnoliabakery.com/gallery/cakes/ -->

<div class="row">
<h1 class="heading center-align">Our Cakes</h1>
</div>

<div class="row">
<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Banana-Cake.jpeg">
      <span class="card-title">Banana Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Carrot-Cake.jpeg">
      <span class="card-title">Carrot Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Chocolate-Cake-wth-Chocolate-Buttercream.jpeg">
      <span class="card-title">Chocolate with Buttercream Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Confetti-Cake.jpeg">
      <span class="card-title">Confetti Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Devils-Food-Cake.jpeg">
      <span class="card-title">Devils Food Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Coconut-Cake.jpeg">
      <span class="card-title">Coconut Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Hummingbird-Cake.jpeg">
      <span class="card-title">Hummingbird Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Naked-Cake.jpeg">
      <span class="card-title">Naked Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>
</div>


<div class="row">
<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Pistachio-Cake.jpeg">
      <span class="card-title">Pistachio Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Pumpkin-Spice-Cake.jpeg">
      <span class="card-title">Pumkin Spice Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Red-Velvet-Cake.jpeg">
      <span class="card-title">Red Velvet Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
      <img src="images/cakes_images/Rose-Top.jpeg">
      <span class="card-title">Rose Top Cake</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
     <p> here goes the price </p> 
    </div>
  </div>
</div>
</div>
